In [422]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action="ignore")

In [423]:
#importing the dataset
df=pd.read_csv('loan.csv')

## Data Understanding
##### There seem to be a lot of columns in the dataset, it would be best to categorise the columns before proceeding ahead

In [424]:
#Checking the first few rows to confirm import and get a hint of the structure
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [425]:
#checking the dimensions
df.shape

(39717, 111)

In [426]:
# Checking the distribution of the numerical 
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

###### This doesn't tell much but it can seen that Outliers exists for several columns, for example loan_amount could have a lot of outliers

In [427]:
#checking the dataframe size, and basic info like number of columns, counts of column datatypes
print(df.size)
print("------------")
print(df.info())

4408587
------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB
None

In [428]:
#Check the datatypes of the columns
for i in df.columns:
    print(i,":",df[i].dtype)

id : int64
member_id : int64
loan_amnt : int64
funded_amnt : int64
funded_amnt_inv : float64
term : object
int_rate : object
installment : float64
grade : object
sub_grade : object
emp_title : object
emp_length : object
home_ownership : object
annual_inc : float64
verification_status : object
issue_d : object
loan_status : object
pymnt_plan : object
url : object
desc : object
purpose : object
title : object
zip_code : object
addr_state : object
dti : float64
delinq_2yrs : int64
earliest_cr_line : object
inq_last_6mths : int64
mths_since_last_delinq : float64
mths_since_last_record : float64
open_acc : int64
pub_rec : int64
revol_bal : int64
revol_util : object
total_acc : int64
initial_list_status : object
out_prncp : float64
out_prncp_inv : float64
total_pymnt : float64
total_pymnt_inv : float64
total_rec_prncp : float64
total_rec_int : float64
total_rec_late_fee : float64
recoveries : float64
collection_recovery_fee : float64
last_pymnt_d : object
last_pymnt_amnt : float64
next_pymnt_d : object
last_credit_pull_d : object
collections_12_mths_ex_med : float64
mths_since_last_major_derog : float64
policy_code : int64
application_type : object
annual_inc_joint : float64
dti_joint : float64
verification_status_joint : float64
acc_now_delinq : int64
tot_coll_amt : float64
tot_cur_bal : float64
open_acc_6m : float64
open_il_6m : float64
open_il_12m : float64
open_il_24m : float64
mths_since_rcnt_il : float64
total_bal_il : float64
il_util : float64
open_rv_12m : float64
open_rv_24m : float64
max_bal_bc : float64
all_util : float64
total_rev_hi_lim : float64
inq_fi : float64
total_cu_tl : float64
inq_last_12m : float64
acc_open_past_24mths : float64
avg_cur_bal : float64
bc_open_to_buy : float64
bc_util : float64
chargeoff_within_12_mths : float64
delinq_amnt : int64
mo_sin_old_il_acct : float64
mo_sin_old_rev_tl_op : float64
mo_sin_rcnt_rev_tl_op : float64
mo_sin_rcnt_tl : float64
mort_acc : float64
mths_since_recent_bc : float64
mths_since_recent_bc_dlq : float64
mths_since_recent_inq : float64
mths_since_recent_revol_delinq : float64
num_accts_ever_120_pd : float64
num_actv_bc_tl : float64
num_actv_rev_tl : float64
num_bc_sats : float64
num_bc_tl : float64
num_il_tl : float64
num_op_rev_tl : float64
num_rev_accts : float64
num_rev_tl_bal_gt_0 : float64
num_sats : float64
num_tl_120dpd_2m : float64
num_tl_30dpd : float64
num_tl_90g_dpd_24m : float64
num_tl_op_past_12m : float64
pct_tl_nvr_dlq : float64
percent_bc_gt_75 : float64
pub_rec_bankruptcies : float64
tax_liens : float64
tot_hi_cred_lim : float64
total_bal_ex_mort : float64
total_bc_limit : float64
total_il_high_credit_limit : float64

In [429]:
# Understanding the types of columns by looking at the unique values in each column
for i in df.columns:
    print(i,df[i].nunique())

id 39717
member_id 39717
loan_amnt 885
funded_amnt 1041
funded_amnt_inv 8205
term 2
int_rate 371
installment 15383
grade 7
sub_grade 35
emp_title 28820
emp_length 11
home_ownership 5
annual_inc 5318
verification_status 3
issue_d 55
loan_status 3
pymnt_plan 1
url 39717
desc 26527
purpose 14
title 19615
zip_code 823
addr_state 50
dti 2868
delinq_2yrs 11
earliest_cr_line 526
inq_last_6mths 9
mths_since_last_delinq 95
mths_since_last_record 111
open_acc 40
pub_rec 5
revol_bal 21711
revol_util 1089
total_acc 82
initial_list_status 1
out_prncp 1137
out_prncp_inv 1138
total_pymnt 37850
total_pymnt_inv 37518
total_rec_prncp 7976
total_rec_int 35148
total_rec_late_fee 1356
recoveries 4040
collection_recovery_fee 2616
last_pymnt_d 101
last_pymnt_amnt 34930
next_pymnt_d 2
last_credit_pull_d 106
collections_12_mths_ex_med 1
mths_since_last_major_derog 0
policy_code 1
application_type 1
annual_inc_joint 0
dti_joint 0
verification_status_joint 0
acc_now_delinq 1
tot_coll_amt 0
tot_cur_bal 0
open_acc_6m 0
open_il_6m 0
open_il_12m 0
open_il_24m 0
mths_since_rcnt_il 0
total_bal_il 0
il_util 0
open_rv_12m 0
open_rv_24m 0
max_bal_bc 0
all_util 0
total_rev_hi_lim 0
inq_fi 0
total_cu_tl 0
inq_last_12m 0
acc_open_past_24mths 0
avg_cur_bal 0
bc_open_to_buy 0
bc_util 0
chargeoff_within_12_mths 1
delinq_amnt 1
mo_sin_old_il_acct 0
mo_sin_old_rev_tl_op 0
mo_sin_rcnt_rev_tl_op 0
mo_sin_rcnt_tl 0
mort_acc 0
mths_since_recent_bc 0
mths_since_recent_bc_dlq 0
mths_since_recent_inq 0
mths_since_recent_revol_delinq 0
num_accts_ever_120_pd 0
num_actv_bc_tl 0
num_actv_rev_tl 0
num_bc_sats 0
num_bc_tl 0
num_il_tl 0
num_op_rev_tl 0
num_rev_accts 0
num_rev_tl_bal_gt_0 0
num_sats 0
num_tl_120dpd_2m 0
num_tl_30dpd 0
num_tl_90g_dpd_24m 0
num_tl_op_past_12m 0
pct_tl_nvr_dlq 0
percent_bc_gt_75 0
pub_rec_bankruptcies 3
tax_liens 1
tot_hi_cred_lim 0
total_bal_ex_mort 0
total_bc_limit 0
total_il_high_credit_limit 0

## Data Cleaning

In [430]:
# Find the null rows percent for all columns

In [431]:
for i in df.columns:
    print(i,df[i].isnull().sum()*100/df.shape[0])

id 0.0
member_id 0.0
loan_amnt 0.0
funded_amnt 0.0
funded_amnt_inv 0.0
term 0.0
int_rate 0.0
installment 0.0
grade 0.0
sub_grade 0.0
emp_title 6.191303472064859
emp_length 2.7066495455346575
home_ownership 0.0
annual_inc 0.0
verification_status 0.0
issue_d 0.0
loan_status 0.0
pymnt_plan 0.0
url 0.0
desc 32.58050708764509
purpose 0.0
title 0.027695948838029054
zip_code 0.0
addr_state 0.0
dti 0.0
delinq_2yrs 0.0
earliest_cr_line 0.0
inq_last_6mths 0.0
mths_since_last_delinq 64.66248709620565
mths_since_last_record 92.98537150338646
open_acc 0.0
pub_rec 0.0
revol_bal 0.0
revol_util 0.12589067653649572
total_acc 0.0
initial_list_status 0.0
out_prncp 0.0
out_prncp_inv 0.0
total_pymnt 0.0
total_pymnt_inv 0.0
total_rec_prncp 0.0
total_rec_int 0.0
total_rec_late_fee 0.0
recoveries 0.0
collection_recovery_fee 0.0
last_pymnt_d 0.1787647606818239
last_pymnt_amnt 0.0
next_pymnt_d 97.1296925749679
last_credit_pull_d 0.0050356270614598285
collections_12_mths_ex_med 0.1409975577208752
mths_since_last_major_derog 100.0
policy_code 0.0
application_type 0.0
annual_inc_joint 100.0
dti_joint 100.0
verification_status_joint 100.0
acc_now_delinq 0.0
tot_coll_amt 100.0
tot_cur_bal 100.0
open_acc_6m 100.0
open_il_6m 100.0
open_il_12m 100.0
open_il_24m 100.0
mths_since_rcnt_il 100.0
total_bal_il 100.0
il_util 100.0
open_rv_12m 100.0
open_rv_24m 100.0
max_bal_bc 100.0
all_util 100.0
total_rev_hi_lim 100.0
inq_fi 100.0
total_cu_tl 100.0
inq_last_12m 100.0
acc_open_past_24mths 100.0
avg_cur_bal 100.0
bc_open_to_buy 100.0
bc_util 100.0
chargeoff_within_12_mths 0.1409975577208752
delinq_amnt 0.0
mo_sin_old_il_acct 100.0
mo_sin_old_rev_tl_op 100.0
mo_sin_rcnt_rev_tl_op 100.0
mo_sin_rcnt_tl 100.0
mort_acc 100.0
mths_since_recent_bc 100.0
mths_since_recent_bc_dlq 100.0
mths_since_recent_inq 100.0
mths_since_recent_revol_delinq 100.0
num_accts_ever_120_pd 100.0
num_actv_bc_tl 100.0
num_actv_rev_tl 100.0
num_bc_sats 100.0
num_bc_tl 100.0
num_il_tl 100.0
num_op_rev_tl 100.0
num_rev_accts 100.0
num_rev_tl_bal_gt_0 100.0
num_sats 100.0
num_tl_120dpd_2m 100.0
num_tl_30dpd 100.0
num_tl_90g_dpd_24m 100.0
num_tl_op_past_12m 100.0
pct_tl_nvr_dlq 100.0
percent_bc_gt_75 100.0
pub_rec_bankruptcies 1.7549160309187501
tax_liens 0.09819472769846666
tot_hi_cred_lim 100.0
total_bal_ex_mort 100.0
total_bc_limit 100.0
total_il_high_credit_limit 100.0

In [432]:
# there are columns with 100% null values, but let us drop columns with more than 85% null values
nullValCols=df.columns[(df.isnull().sum()/df.shape[0])*100>85.0]

In [433]:
#total number of rows in the dataset
df.shape[0]

39717

In [434]:
#Here is the detail of these columns
len(nullValCols),nullValCols

(56,
 Index(['mths_since_last_record', 'next_pymnt_d', 'mths_since_last_major_derog',
        'annual_inc_joint', 'dti_joint', 'verification_status_joint',
        'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m',
        'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
        'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
        'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
        'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
        'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
        'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc',
        'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
        'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd',
        'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl',
        'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0',
        'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
        'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
        'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
        'total_il_high_credit_limit'],
       dtype='object'))

In [435]:
# let us pick fewcolumsn from the above detail and see what kind of values do they have 
print(df["mths_since_last_record"].nunique(),"\n",df["mths_since_last_record"].unique())

111
 [ nan 113. 105.  97.  33.  93.  52.  85.  90.  91. 114.  92. 117.  87.
  45.  83. 118.  38. 101. 100. 112. 110.  88.  79.  77. 107. 102.  98.
  95. 103.  96. 116. 111.  89. 108.  29. 106. 115.  53.  86.  57.  63.
  94. 109.  99. 104.  76.  61.  28.  23.  75.  47.  82.  21.  62.  44.
  80.  67. 119.  42.  34.  66.  58.  22.  56.  72.  64.  50.  69.  49.
  74.  35.  12.  26.  78.  54.  37.  73.  11.  31.  59.  32.  81.  68.
  55.  39.  51.  70.  30.  41.  71.  40.  43.  27.  65.  46.  19.  17.
  25.  13.  48.  36.   7.  60.  14.   6.  18.   0.  20. 120. 129.   5.]

In [436]:
print(df["mths_since_last_delinq"].nunique(),"\n",df["mths_since_last_delinq"].unique())

95
 [ nan  35.  38.  61.   8.  20.  18.  68.  45.  48.  41.  40.  74.  25.
  53.  39.  10.  26.  56.  77.  28.  52.  24.  16.  60.  54.  23.   9.
  11.  13.  65.  19.  80.  22.  59.  79.  44.  64.  57.  14.  63.  49.
  15.  73.  70.  29.  51.   5.  75.  55.   2.  30.  47.  33.  69.   4.
  43.  21.  27.  46.  81.  78.  82.  31.  76.  62.  72.  42.  50.   3.
  12.  67.  36.  34.  58.  17.  71.  66.  32.   6.  37.   7.   1.  83.
  86. 115.  96. 103. 120. 106.  89. 107.  85.  97.  95.   0.]

In [437]:
print(df["desc"].nunique())

26527

#### its evident that there are several columns with null values. It is best to drop the columns with null values >70%

In [438]:
#get the columns where the null values are more than 70% of the total values or rows
colsToDrop=df.columns[((df.isnull().sum())/df.shape[0])*100>70.0]

In [439]:
#Let us check how many columns do we have 
len(colsToDrop)

56

#### This is a massive drop in the number of columns!

In [440]:
#Dropping these columns from our dataset
df=df.drop(colsToDrop,axis=1)

In [441]:
#confirm the operation by checking the shape of the dataframe
df.shape

(39717, 55)

In [442]:
#Let us again check the columns against the number of unique values they have
for i in df.columns:
    print(i,"\t",df[i].nunique())

id 	 39717
member_id 	 39717
loan_amnt 	 885
funded_amnt 	 1041
funded_amnt_inv 	 8205
term 	 2
int_rate 	 371
installment 	 15383
grade 	 7
sub_grade 	 35
emp_title 	 28820
emp_length 	 11
home_ownership 	 5
annual_inc 	 5318
verification_status 	 3
issue_d 	 55
loan_status 	 3
pymnt_plan 	 1
url 	 39717
desc 	 26527
purpose 	 14
title 	 19615
zip_code 	 823
addr_state 	 50
dti 	 2868
delinq_2yrs 	 11
earliest_cr_line 	 526
inq_last_6mths 	 9
mths_since_last_delinq 	 95
open_acc 	 40
pub_rec 	 5
revol_bal 	 21711
revol_util 	 1089
total_acc 	 82
initial_list_status 	 1
out_prncp 	 1137
out_prncp_inv 	 1138
total_pymnt 	 37850
total_pymnt_inv 	 37518
total_rec_prncp 	 7976
total_rec_int 	 35148
total_rec_late_fee 	 1356
recoveries 	 4040
collection_recovery_fee 	 2616
last_pymnt_d 	 101
last_pymnt_amnt 	 34930
last_credit_pull_d 	 106
collections_12_mths_ex_med 	 1
policy_code 	 1
application_type 	 1
acc_now_delinq 	 1
chargeoff_within_12_mths 	 1
delinq_amnt 	 1
pub_rec_bankruptcies 	 3
tax_liens 	 1

In [443]:
#There are some columns that have 1 value through out the dataset, let us also remove them
singleValCols=df.columns[df.nunique()==1]

In [444]:
len(singleValCols),singleValCols

(9,
 Index(['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med',
        'policy_code', 'application_type', 'acc_now_delinq',
        'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens'],
       dtype='object'))

In [445]:
# now let us drop these single Valued columns as well
df=df.drop(singleValCols,axis=1)

In [446]:
# Confirming execution by re-cheking shape
df.shape

(39717, 46)

In [447]:
#Let us again check the columns against the number of unique values they have
for i in df.columns:
    print(i,"\t",df[i].nunique())

id 	 39717
member_id 	 39717
loan_amnt 	 885
funded_amnt 	 1041
funded_amnt_inv 	 8205
term 	 2
int_rate 	 371
installment 	 15383
grade 	 7
sub_grade 	 35
emp_title 	 28820
emp_length 	 11
home_ownership 	 5
annual_inc 	 5318
verification_status 	 3
issue_d 	 55
loan_status 	 3
url 	 39717
desc 	 26527
purpose 	 14
title 	 19615
zip_code 	 823
addr_state 	 50
dti 	 2868
delinq_2yrs 	 11
earliest_cr_line 	 526
inq_last_6mths 	 9
mths_since_last_delinq 	 95
open_acc 	 40
pub_rec 	 5
revol_bal 	 21711
revol_util 	 1089
total_acc 	 82
out_prncp 	 1137
out_prncp_inv 	 1138
total_pymnt 	 37850
total_pymnt_inv 	 37518
total_rec_prncp 	 7976
total_rec_int 	 35148
total_rec_late_fee 	 1356
recoveries 	 4040
collection_recovery_fee 	 2616
last_pymnt_d 	 101
last_pymnt_amnt 	 34930
last_credit_pull_d 	 106
pub_rec_bankruptcies 	 3

In [448]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0

In [449]:
#let us remove the Behavioral data as it is of no signifance to draw conclusions for New Loan Applicants
# Based on the Data Undersatnding the behavioral columns are as follow:
behavioralCols=['delinq_2yrs','earliest_cr_line','open_acc','revol_bal',
                'revol_util','total_acc','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','last_credit_pull_d']

In [450]:
print(behavioralCols)

['delinq_2yrs', 'earliest_cr_line', 'open_acc', 'revol_bal', 'revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d']

In [451]:
# Dropping these behavioral columns
df=df.drop(behavioralCols,axis=1)

In [452]:
print(df.shape,"\n")
df.head()

(39717, 28)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,desc,purpose,title,zip_code,addr_state,dti,inq_last_6mths,mths_since_last_delinq,pub_rec,pub_rec_bankruptcies
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,1,NaN,0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,5,NaN,0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,small_business,real estate business,606xx,IL,8.72,2,NaN,0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,1,35.0,0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,38.0,0,0.0

###### The Desc column has a lot of unique string values, it could be used for sentiment analysis and data modeling but those processes are currently out of scope of this Project, hence this column could be dropped as well, similarly the url col is of no significance in drawing any inference

In [453]:
df=df.drop(['desc','url'],axis=1)

In [454]:
for i in df.columns:
    print(i,"\t",df[i].nunique())

id 	 39717
member_id 	 39717
loan_amnt 	 885
funded_amnt 	 1041
funded_amnt_inv 	 8205
term 	 2
int_rate 	 371
installment 	 15383
grade 	 7
sub_grade 	 35
emp_title 	 28820
emp_length 	 11
home_ownership 	 5
annual_inc 	 5318
verification_status 	 3
issue_d 	 55
loan_status 	 3
purpose 	 14
title 	 19615
zip_code 	 823
addr_state 	 50
dti 	 2868
inq_last_6mths 	 9
mths_since_last_delinq 	 95
pub_rec 	 5
pub_rec_bankruptcies 	 3

In [455]:
#removing member_id as id key, another unique identifier is already present
df=df.drop('member_id',axis=1)

In [456]:
df.shape

(39717, 25)

In [457]:
#On second though we do not need a unique identifier either to draw inferences for our Case study, so let us drop the id
#column as well; same goes for emp_title
df=df.drop('id',axis=1)

In [458]:
#Removing Zip Code as well, as the zip codes last twoo literals are unknown, the state address also reveal the same information 
#on a higher scope; similary funded_amnt can be dropped as well as a derived column from it exists; empt_title is irrelevant as 
#well
df=df.drop(['zip_code','emp_title','funded_amnt'],axis=1)

In [459]:
df.shape

(39717, 21)

In [460]:
for i in df.columns:
    print(df[i].value_counts())

10000    2833
12000    2334
5000     2051
6000     1908
15000    1895
         ...
22875       1
8175        1
19475       1
21225       1
22550       1
Name: loan_amnt, Length: 885, dtype: int64
5000.000000     1309
10000.000000    1275
6000.000000     1200
12000.000000    1069
8000.000000      900
                ...
4944.213109        1
18400.281660       1
14659.820000       1
6294.151315        1
11808.924370       1
Name: funded_amnt_inv, Length: 8205, dtype: int64
 36 months    29096
 60 months    10621
Name: term, dtype: int64
10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
18.36%      1
16.96%      1
16.15%      1
16.01%      1
17.44%      1
Name: int_rate, Length: 371, dtype: int64
311.11     68
180.96     59
311.02     54
150.80     48
368.45     46
           ..
1224.46     1
63.44       1
157.67      1
492.34      1
255.43      1
Name: installment, Length: 15383, dtype: int64
B    12020
A    10085
C     8098
D     5307
E     2842
F     1049
G      316
Name: grade, dtype: int64
B3    2917
A4    2886
A5    2742
B5    2704
B4    2512
C1    2136
B2    2057
C2    2011
B1    1830
A3    1810
C3    1529
A2    1508
D2    1348
C4    1236
C5    1186
D3    1173
A1    1139
D4     981
D1     931
D5     874
E1     763
E2     656
E3     553
E4     454
E5     416
F1     329
F2     249
F3     185
F4     168
F5     118
G1     104
G2      78
G4      56
G3      48
G5      30
Name: sub_grade, dtype: int64
10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64
RENT        18899
MORTGAGE    17659
OWN          3058
OTHER          98
NONE            3
Name: home_ownership, dtype: int64
60000.0    1505
50000.0    1057
40000.0     876
45000.0     830
30000.0     825
           ...
56820.0       1
45314.0       1
53913.0       1
62880.0       1
27376.0       1
Name: annual_inc, Length: 5318, dtype: int64
Not Verified       16921
Verified           12809
Source Verified     9987
Name: verification_status, dtype: int64
Dec-11    2260
Nov-11    2223
Oct-11    2114
Sep-11    2063
Aug-11    1928
Jul-11    1870
Jun-11    1827
May-11    1689
Apr-11    1562
Mar-11    1443
Jan-11    1380
Feb-11    1297
Dec-10    1267
Oct-10    1132
Nov-10    1121
Jul-10    1119
Sep-10    1086
Aug-10    1078
Jun-10    1029
May-10     920
Apr-10     827
Mar-10     737
Feb-10     627
Nov-09     602
Dec-09     598
Jan-10     589
Oct-09     545
Sep-09     449
Aug-09     408
Jul-09     374
Jun-09     356
May-09     319
Apr-09     290
Mar-09     276
Feb-09     260
Jan-09     239
Mar-08     236
Dec-08     223
Nov-08     184
Feb-08     174
Jan-08     171
Apr-08     155
Oct-08      96
Dec-07      85
Jul-08      83
May-08      71
Aug-08      71
Jun-08      66
Oct-07      47
Nov-07      37
Aug-07      33
Sep-08      32
Jul-07      30
Sep-07      18
Jun-07       1
Name: issue_d, dtype: int64
Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64
debt_consolidation    18641
credit_card            5130
other                  3993
home_improvement       2976
major_purchase         2187
small_business         1828
car                    1549
wedding                 947
medical                 693
moving                  583
vacation                381
house                   381
educational             325
renewable_energy        103
Name: purpose, dtype: int64
Debt Consolidation                  2184
Debt Consolidation Loan             1729
Personal Loan                        659
Consolidation                        517
debt consolidation                   505
                                    ...
your rate is better than my rate       1
Concession Trailer                     1
gregs                                  1
EZover                                 1
JAL Loan                               1
Name: title, Length: 19615, dtype: int64
CA    7099
NY    3812
FL    2866
TX    2727
NJ    1850
IL    1525
PA    1517
VA    1407
GA    1398
MA    1340
OH    1223
MD    1049
AZ     879
WA     840
CO     792
NC     788
CT     751
MI     720
MO     686
MN     615
NV     497
SC     472
WI     460
AL     452
OR     451
LA     436
KY     325
OK     299
KS     271
UT     258
AR     245
DC     214
RI     198
NM     189
WV     177
HI     174
NH     171
DE     114
MT      85
WY      83
AK      80
SD      64
VT      54
MS      19
TN      17
IN       9
ID       6
IA       5
NE       5
ME       3
Name: addr_state, dtype: int64
0.00     183
12.00     51
18.00     45
19.20     40
13.20     39
        ...
29.13      1
25.31      1
29.76      1
28.42      1
25.43      1
Name: dti, Length: 2868, dtype: int64
0    19300
1    10971
2     5812
3     3048
4      326
5      146
6       64
7       35
8       15
Name: inq_last_6mths, dtype: int64
0.0      443
15.0     252
30.0     247
23.0     247
24.0     241
        ...
89.0       1
107.0      1
85.0       1
97.0       1
95.0       1
Name: mths_since_last_delinq, Length: 95, dtype: int64
0    37601
1     2056
2       51
3        7
4        2
Name: pub_rec, dtype: int64
0.0    37339
1.0     1674
2.0        7
Name: pub_rec_bankruptcies, dtype: int64

In [461]:
#unique values for Loan Status
df.loan_status.value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [462]:
# Conclusions can be only drawn from Borrowers who have either fully paid or have gone fully delinquint
df=df[~(df['loan_status']=="Current")]

In [463]:
df.head(12)

,loan_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,issue_d,loan_status,purpose,title,addr_state,dti,inq_last_6mths,mths_since_last_delinq,pub_rec,pub_rec_bankruptcies
0,5000,4975.0,36 months,10.65%,162.87,B,B2,10+ years,RENT,24000.0,...,Dec-11,Fully Paid,credit_card,Computer,AZ,27.65,1,NaN,0,0.0
1,2500,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,RENT,30000.0,...,Dec-11,Charged Off,car,bike,GA,1.00,5,NaN,0,0.0
2,2400,2400.0,36 months,15.96%,84.33,C,C5,10+ years,RENT,12252.0,...,Dec-11,Fully Paid,small_business,real estate business,IL,8.72,2,NaN,0,0.0
3,10000,10000.0,36 months,13.49%,339.31,C,C1,10+ years,RENT,49200.0,...,Dec-11,Fully Paid,other,personel,CA,20.00,1,35.0,0,0.0
5,5000,5000.0,36 months,7.90%,156.46,A,A4,3 years,RENT,36000.0,...,Dec-11,Fully Paid,wedding,My wedding loan I promise to pay back,AZ,11.20,3,NaN,0,0.0
6,7000,7000.0,60 months,15.96%,170.08,C,C5,8 years,RENT,47004.0,...,Dec-11,Fully Paid,debt_consolidation,Loan,NC,23.51,1,NaN,0,0.0
7,3000,3000.0,36 months,18.64%,109.43,E,E1,9 years,RENT,48000.0,...,Dec-11,Fully Paid,car,Car Downpayment,CA,5.35,2,NaN,0,0.0
8,5600,5600.0,60 months,21.28%,152.39,F,F2,4 years,OWN,40000.0,...,Dec-11,Charged Off,small_business,Expand Business & Buy Debt Portfolio,CA,5.55,2,NaN,0,0.0
9,5375,5350.0,60 months,12.69%,121.45,B,B5,< 1 year,RENT,15000.0,...,Dec-11,Charged Off,other,Building my credit history.,TX,18.08,0,NaN,0,0.0
10,6500,6500.0,60 months,14.65%,153.45,C,C3,5 years,OWN,72000.0,...,Dec-11,Fully Paid,debt_consolidation,High intrest Consolidation,AZ,16.12,2,NaN,0,0.0
11,12000,12000.0,36 months,12.69%,402.54,B,B5,10+ years,OWN,75000.0,...,Dec-11,Fully Paid,debt_consolidation,Consolidation,CA,10.78,0,NaN,0,0.0
12,9000,9000.0,36 months,13.49%,305.38,C,C1,< 1 year,RENT,30000.0,...,Dec-11,Charged Off,debt_consolidation,freedom,VA,10.08,1,NaN,0,0.0

In [464]:
for i in df.columns:
    print(i,"  ",df[i].nunique(), "  ",df[i].dtype)

loan_amnt    870    int64
funded_amnt_inv    8050    float64
term    2    object
int_rate    370    object
installment    15022    float64
grade    7    object
sub_grade    35    object
emp_length    11    object
home_ownership    5    object
annual_inc    5215    float64
verification_status    3    object
issue_d    55    object
loan_status    2    object
purpose    14    object
title    19297    object
addr_state    50    object
dti    2853    float64
inq_last_6mths    9    int64
mths_since_last_delinq    95    float64
pub_rec    5    int64
pub_rec_bankruptcies    3    float64

In [465]:
## We can also drop the columns title, issue_d, funded_amnt_inv(as loan_amt is giving the similar information)
df=df.drop(["issue_d","funded_amnt_inv","title"],axis=1)

###### Now that we have all the necessary columns to identify patterns and draw useful conclusions, we can look at each column type and clean them for missing values, invalid values, standardise units etc

In [466]:
df["loan_amnt"].isnull().sum()

0

In [467]:
df["loan_amnt"].unique()

array([ 5000,  2500,  2400, 10000,  7000,  3000,  5600,  5375,  6500,
       12000,  9000,  1000,  3600,  6000,  9200, 20250, 21000, 15000,
        4000,  8500,  4375, 31825, 12400, 10800,  9600,  4400, 14000,
       11000, 25600, 16000,  7100, 13000, 17500, 17675,  8000,  3500,
       12500, 16425,  8200, 20975,  6400, 14400,  7250, 18000, 35000,
       11800,  4500, 10500, 20000,  6200,  7200,  9500, 18825, 24000,
        2100,  5500, 26800, 25000, 19750, 13650, 28000, 10625,  8850,
        6375, 11100,  4200,  8875, 13500, 21600,  8450, 13475, 22000,
        7325,  7750, 13350, 22475,  8400, 13250,  7350, 11500, 29500,
        2000, 11625, 15075,  5300,  8650,  7400, 24250, 26000,  1500,
       19600,  4225, 16500, 15600, 14125, 13200,  1400,  3200, 11875,
        1800, 23200,  4800,  7300, 10400,  6600, 30000,  4475,  6300,
        8250,  9875, 21500,  7800,  9750, 15550,  7500,  5800,  8050,
        5400,  4125,  9800, 15700,  9900,  6250, 10200, 23000, 21250,
       33425,  8125, 18800, 19200, 12875,  2625, 11300,  4100, 18225,
       18500, 16800,  2200, 14050, 10525, 19775, 14500, 11700,  4150,
       12375,  1700, 22250, 11200, 22500, 15900,  3150,  8575,  7700,
       24500, 22200, 21400,  9400, 17000, 22400,  5825,  7650, 20675,
       27050, 20500, 12800, 27575, 29000,  9575, 14575,  7125, 10700,
       10375,  3050, 27000, 28625, 20050, 24925, 13600, 26400,  7150,
       32000,  2250, 17050,  3250, 22750,  1200,  5900, 12600,  6750,
       17475, 17250, 19075, 17200, 13225, 11775, 16400, 10075,  9350,
        8075, 15625, 20125,  8300,  2425,  6950,  5350,  5875,  9450,
       19000, 20400, 21650, 20300,  2300,  7600, 24575,  5850,  4750,
        5275,  9175, 34475, 10050, 19400, 18200, 34000, 19500,  5200,
       11900, 29100, 25850,  3300, 12200, 22575,  7175, 16750,  6625,
        6900, 18650,  9250, 22800, 27300, 12250,  4350,  2700,  6025,
        3825,  5325, 14150,  1600,  2800, 18975,  2575,  5450,  3800,
        2125, 14650, 11250, 31000,  8475,  3625, 31300,  4250, 12650,
       27600, 13150,  4300, 10275, 23600,  7875, 12300, 14550,  9925,
       15850,  1325,  6325, 29700, 25975, 15200, 28100,  6800, 11325,
       13975, 13800,  3100,  8800, 25450,  3575,  6075, 23700, 21200,
        6475, 17375, 17625, 16100, 16675, 22950,  1950,  4650, 10250,
        6100,  8325,  4850,  9425,  5250, 12700, 25475, 14850, 33000,
        5150, 21625,  3775, 21575, 16250,  8375, 18725, 11125,  3525,
        9300, 19125, 19800, 15500,  5575,  1450, 10150, 20450, 23500,
       16600,  1300,  6925, 14675, 11550, 17400,  1100,  3400, 12775,
        5050, 12100,  6975, 26300, 23325, 15800,  5100, 10175, 18400,
       30750, 33600,  5650, 16450, 18950, 33950, 10125, 16775,  5700,
       20200, 10600,  3725, 19425, 25900,  3125, 23800,  4025,  2600,
        8900, 10900, 17600, 14825,  7925, 14950, 14750,  8600,  1925,
        4900, 15575,  3175, 14800,  5750, 14600, 25200,  6550, 22900,
       14300,  6850, 26375, 11425, 16950, 29850, 10675,  6650, 10775,
       17325, 27250,  3700, 20800, 13575, 29275,  4725, 15750, 15875,
       10925,  4950,  2850, 32875, 21100, 18250,  6700, 11050,  3650,
       20375,  4600,  7475, 22125, 18550, 27525, 25500, 17750,  6350,
        8675,  7450, 24625, 17900, 12075,  6725, 24400,  5225, 14075,
       17175,  9475,  9975, 20900, 12150, 15350,  4925,  4550, 18750,
       15125, 10950, 12475,  2750,  4625,  7575, 23525, 12350, 17950,
        9525,  8975, 11975, 12850, 19850, 21850,  4425, 32250,  2550,
       11400, 21725, 23100, 13700,  9950, 21750, 13750, 12025, 23400,
       14975, 19700,  3900, 14725, 28200, 17800,  5175, 15025, 29550,
       23850, 31500,  9100, 27400, 23675,  9825, 16200, 11650, 18875,
       11600,  3950,  2050, 19950, 12750,  2875, 10300, 17450,  3450,
        1825, 13100,  8700,  6450,  3675,  8150, 23975, 14100,  8625,
       31800, 34675, 11025,  7850, 14175,  9150, 19925, 14275, 25400,
       17825, 16875, 15300, 21800, 14475, 10225, 27500, 10650, 12725,
       31400,  1550, 31200,  1875, 16300, 12550, 11725, 22600, 26500,
        6225, 15250, 23275, 13275, 34525,  6775, 19450,  2900,  2450,
       21300,  4700,  7425, 19575, 31150, 30100, 32350,  1900, 29300,
        2350, 15950, 13300,  2975, 28250, 25875,  8100,  3350, 28600,
        6425,  9375,  4050, 23450, 32400, 21350,  9050,  2675,  5025,
        7075, 24600,  5950, 12625, 29800,  1750, 10825, 12900,  6125,
       26850, 28800,  7275,  6825, 14775, 10975, 20950,  3850, 31325,
       11750, 15825,  7525,  3550,  7950, 13400,  3375,  1250, 29600,
        1850, 17850, 17875,  7550, 30800, 30225,  3750, 10025, 14350,
       24800,  7775, 33500, 18900,  8025,  5125, 13775,  3075, 29900,
       11525,  5550,  5975, 32500, 22100, 25300, 14700,  3325,  5075,
        3975,  5625, 27175, 11575, 16325, 24200, 15050,  5425, 17700,
       12450, 19725, 19550,  3025, 22875, 23075, 15450, 10750,  4325,
        3275,  8175, 20700,  1775,  4775,  8225,  4575, 15775, 19475,
       14200, 21225, 12425,  7900, 14525,  2650,  4450,  8275, 27200,
       30600,  6275,  4075,  1625,  1275, 13075, 23750, 24650, 14250,
        8825,  5775,  8350, 19150,  8725, 16050, 26250, 29175, 16075,
        6150,  8750, 11075, 10875, 12175, 16350,  2275,  3925, 11375,
        4275, 18325,  9650,  2725, 10425,  6575,  2075, 13175,  9550,
       12675, 15425, 17725, 18300, 18600,  5525, 10550, 22325, 15175,
       12225, 13675, 12525, 28750, 15650, 11450, 23350,  1525, 31725,
       13625, 32775, 20600,  8550, 15975,  9775,  9725, 13425,  1050,
        2950, 12925, 29375, 12325,  9075,  1350, 21700, 16550, 15400,
       13125,  4975, 11275,  7725,  9225,  2325, 13725,  8775, 19250,
       10575, 14900, 34800, 17300,  9700,  2150, 10100, 10350,  2825,
       17975,  1650, 15275,  7975,  2925,  2525, 28500,  2225,  9325,
        5725, 23425,  4875,  2475,  3425, 16700,  2775, 13050, 34200,
        5925, 26025, 16225,  9275, 11350, 21450, 10850,  7225, 13325,
        1425,  5475, 19300,  7050, 24375, 24175, 12050,  1225, 13850,
       32525, 17075,  1375,  1675, 18275,  9125, 33250, 16525, 11850,
       22300,  2375,  7675,  8525, 31050,  4525,  7025, 14625, 13375,
       21125,  4675, 25375, 24975, 12825, 18150, 18050,  9850, 14875,
       17425, 16725, 13550,  9625, 15150, 19875,  1475, 22650, 17150,
        6875,  7375,  5675,  7625,  6525,  3225,  6675,  1075, 15675,
       17275, 11475, 12975, 15325,  1125, 17100,  8950, 11675, 12275,
        3475, 21425, 18125, 23050, 11175, 10450, 21825, 10475, 12950,
       20150, 24750, 13900,  4175, 24100, 17925, 24150, 19975, 19900,
       13950, 12125, 11225, 23475, 19650, 13450, 10725,  1150, 20475,
       17525,   500,   725, 23575,   700,   950, 19275,   900,   750,
       17350,   800, 10325, 13025, 22350, 22550], dtype=int64)

In [468]:
#There are no invalid or missing values, however binning this data could help us gain some insight later
df["loan_amnt"].describe()

count    38577.000000
mean     11047.025430
std       7348.441646
min        500.000000
25%       5300.000000
50%       9600.000000
75%      15000.000000
max      35000.000000
Name: loan_amnt, dtype: float64

In [469]:
# from above detail, setting bin size of 5000 looks feasible and productive
df["loan_amnt_range"]= pd.cut(x=df['loan_amnt'],bins=[0,5000,10000,15000,20000,25000,30000,35000])

In [470]:
df

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,addr_state,dti,inq_last_6mths,mths_since_last_delinq,pub_rec,pub_rec_bankruptcies,loan_amnt_range
0,5000,36 months,10.65%,162.87,B,B2,10+ years,RENT,24000.0,Verified,Fully Paid,credit_card,AZ,27.65,1,NaN,0,0.0,"(0, 5000]"
1,2500,60 months,15.27%,59.83,C,C4,< 1 year,RENT,30000.0,Source Verified,Charged Off,car,GA,1.00,5,NaN,0,0.0,"(0, 5000]"
2,2400,36 months,15.96%,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,Fully Paid,small_business,IL,8.72,2,NaN,0,0.0,"(0, 5000]"
3,10000,36 months,13.49%,339.31,C,C1,10+ years,RENT,49200.0,Source Verified,Fully Paid,other,CA,20.00,1,35.0,0,0.0,"(5000, 10000]"
5,5000,36 months,7.90%,156.46,A,A4,3 years,RENT,36000.0,Source Verified,Fully Paid,wedding,AZ,11.20,3,NaN,0,0.0,"(0, 5000]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,2500,36 months,8.07%,78.42,A,A4,4 years,MORTGAGE,110000.0,Not Verified,Fully Paid,home_improvement,CO,11.33,0,0.0,0,NaN,"(0, 5000]"
39713,8500,36 months,10.28%,275.38,C,C1,3 years,RENT,18000.0,Not Verified,Fully Paid,credit_card,NC,6.40,1,5.0,0,NaN,"(5000, 10000]"
39714,5000,36 months,8.07%,156.84,A,A4,< 1 year,MORTGAGE,100000.0,Not Verified,Fully Paid,debt_consolidation,MA,2.30,0,0.0,0,NaN,"(0, 5000]"
39715,5000,36 months,7.43%,155.38,A,A2,< 1 year,MORTGAGE,200000.0,Not Verified,Fully Paid,other,MD,3.72,0,0.0,0,NaN,"(0, 5000]"
39716,7500,36 months,13.75%,255.43,E,E2,< 1 year,OWN,22000.0,Not Verified,Fully Paid,debt_consolidation,MA,14.29,0,11.0,0,NaN,"(5000, 10000]"

In [471]:
# Now let us drop the loan_amnt since we created a categorical column out of it as originally it was not useful for us
df=df.drop('loan_amnt',axis=1)

In [472]:
df.shape

(38577, 18)

In [473]:
#notice that the int_rate(Interest Rate on the loan) could be useful field for our scenario however it has varying values 
#and has the % suffix in it, let us remove it categorise/ bin it as well
df["int_rate"]=df["int_rate"].apply(lambda x:x[0:-1])

In [474]:
df.int_rate=df.int_rate.astype('float64')

In [475]:
df.int_rate.describe()

count    38577.000000
mean        11.932219
std          3.691327
min          5.420000
25%          8.940000
50%         11.710000
75%         14.380000
max         24.400000
Name: int_rate, dtype: float64

In [476]:
#from the looks of abouve describe() command result, a  bin of 2.5 should suffice tocategorise these values perfectly
df["int_rate_range"]=pd.cut(x=df['int_rate'],bins=[0.0,2.5,5.0,7.5,10.0,12.5,15.0,17.5,20.0,22.5,25.0])
#The int_rate column can be dropped now
df=df.drop("int_rate",axis=1)

In [477]:
df

,term,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,addr_state,dti,inq_last_6mths,mths_since_last_delinq,pub_rec,pub_rec_bankruptcies,loan_amnt_range,int_rate_range
0,36 months,162.87,B,B2,10+ years,RENT,24000.0,Verified,Fully Paid,credit_card,AZ,27.65,1,NaN,0,0.0,"(0, 5000]","(10.0, 12.5]"
1,60 months,59.83,C,C4,< 1 year,RENT,30000.0,Source Verified,Charged Off,car,GA,1.00,5,NaN,0,0.0,"(0, 5000]","(15.0, 17.5]"
2,36 months,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,Fully Paid,small_business,IL,8.72,2,NaN,0,0.0,"(0, 5000]","(15.0, 17.5]"
3,36 months,339.31,C,C1,10+ years,RENT,49200.0,Source Verified,Fully Paid,other,CA,20.00,1,35.0,0,0.0,"(5000, 10000]","(12.5, 15.0]"
5,36 months,156.46,A,A4,3 years,RENT,36000.0,Source Verified,Fully Paid,wedding,AZ,11.20,3,NaN,0,0.0,"(0, 5000]","(7.5, 10.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,36 months,78.42,A,A4,4 years,MORTGAGE,110000.0,Not Verified,Fully Paid,home_improvement,CO,11.33,0,0.0,0,NaN,"(0, 5000]","(7.5, 10.0]"
39713,36 months,275.38,C,C1,3 years,RENT,18000.0,Not Verified,Fully Paid,credit_card,NC,6.40,1,5.0,0,NaN,"(5000, 10000]","(10.0, 12.5]"
39714,36 months,156.84,A,A4,< 1 year,MORTGAGE,100000.0,Not Verified,Fully Paid,debt_consolidation,MA,2.30,0,0.0,0,NaN,"(0, 5000]","(7.5, 10.0]"
39715,36 months,155.38,A,A2,< 1 year,MORTGAGE,200000.0,Not Verified,Fully Paid,other,MD,3.72,0,0.0,0,NaN,"(0, 5000]","(5.0, 7.5]"
39716,36 months,255.43,E,E2,< 1 year,OWN,22000.0,Not Verified,Fully Paid,debt_consolidation,MA,14.29,0,11.0,0,NaN,"(5000, 10000]","(12.5, 15.0]"

In [478]:
#checking installment, grade,sub_grade columns
df["installment"].dtype
df['grade'].unique()
df['sub_grade'].unique()
df.emp_length.unique()
df.verification_status.unique()
df.annual_inc.dtype
df.purpose.unique()
df.addr_state.unique()
df.dti.dtype
df.inq_last_6mths.unique()
df.pub_rec.unique()


# These columns look fine

array([0, 1, 2, 3, 4], dtype=int64)

In [479]:
# There are some null values in these columns
df.pub_rec_bankruptcies.unique()
df.mths_since_last_delinq.unique()

array([ nan,  35.,  61.,   8.,  20.,  18.,  45.,  38.,  48.,  41.,  40.,
        74.,  25.,  53.,  39.,  10.,  26.,  77.,  28.,  56.,  52.,  24.,
        16.,  60.,  54.,  23.,   9.,  11.,  13.,  65.,  19.,  22.,  59.,
        79.,  44.,  57.,  14.,  63.,  49.,  15.,  73.,  70.,  29.,  51.,
         5.,  75.,  55.,   2.,  30.,  47.,  69.,   4.,  43.,  33.,  21.,
        27.,  46.,  81.,  68.,  78.,  82.,  31.,  64.,  76.,  62.,  72.,
        42.,  50.,   3.,  12.,  34.,  58.,  17.,  71.,  66.,  32.,   6.,
        80.,  36.,  37.,   7.,  67.,   1.,  83.,  86., 115.,  96., 120.,
       106.,  89., 103., 107.,  85.,  97.,  95.,   0.])

In [480]:
#imputing the null values with the mode of the set
df.mths_since_last_delinq=df.mths_since_last_delinq.fillna(df.mths_since_last_delinq.mode()[0])
df.pub_rec_bankruptcies=df.pub_rec_bankruptcies.fillna(df.pub_rec_bankruptcies.mode()[0])

In [481]:
#confirming Successful execution of the commands
print(df.mths_since_last_delinq.unique(),"\n",df.pub_rec_bankruptcies.unique())

[  0.  35.  61.   8.  20.  18.  45.  38.  48.  41.  40.  74.  25.  53.
  39.  10.  26.  77.  28.  56.  52.  24.  16.  60.  54.  23.   9.  11.
  13.  65.  19.  22.  59.  79.  44.  57.  14.  63.  49.  15.  73.  70.
  29.  51.   5.  75.  55.   2.  30.  47.  69.   4.  43.  33.  21.  27.
  46.  81.  68.  78.  82.  31.  64.  76.  62.  72.  42.  50.   3.  12.
  34.  58.  17.  71.  66.  32.   6.  80.  36.  37.   7.  67.   1.  83.
  86. 115.  96. 120. 106.  89. 103. 107.  85.  97.  95.]
 [0. 1. 2.]

In [502]:
#Checking the distribution for annual income
df.annual_inc.describe()

count    3.857700e+04
mean     6.877797e+04
std      6.421868e+04
min      4.000000e+03
25%      4.000000e+04
50%      5.886800e+04
75%      8.200000e+04
max      6.000000e+06
Name: annual_inc, dtype: float64

In [483]:
#let us create categories for Annual Income column as well

In [484]:
df.annual_inc_ranges=pd.cut(x=df.annual_inc,bins=[0,10000,25000,50000,75000,100000,200000,500000,1000000,5000000,10000000])

In [485]:
df.annual_inc_ranges.value_counts()

(25000, 50000]         12839
(50000, 75000]         11668
(75000, 100000]         6039
(100000, 200000]        4911
(10000, 25000]          2452
(200000, 500000]         504
(0, 10000]                98
(500000, 1000000]         52
(1000000, 5000000]        13
(5000000, 10000000]        1
Name: annual_inc, dtype: int64

In [487]:
for i in df.columns:
    print(i,"-----",df[i].unique(),"---->",df[i].nunique(),"\n")

term ----- [' 36 months' ' 60 months'] ----> 2

installment ----- [162.87  59.83  84.33 ...  78.42 275.38 255.43] ----> 15022

grade ----- ['B' 'C' 'A' 'E' 'F' 'D' 'G'] ----> 7

sub_grade ----- ['B2' 'C4' 'C5' 'C1' 'A4' 'E1' 'F2' 'B5' 'C3' 'B1' 'D1' 'A1' 'B3' 'B4'
 'C2' 'D2' 'A3' 'A5' 'D5' 'A2' 'E4' 'D3' 'D4' 'F3' 'E3' 'F1' 'E5' 'G4'
 'E2' 'G2' 'G1' 'F5' 'F4' 'G5' 'G3'] ----> 35

emp_length ----- ['10+ years' '< 1 year' '3 years' '8 years' '9 years' '4 years' '5 years'
 '1 year' '6 years' '2 years' '7 years' nan] ----> 11

home_ownership ----- ['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE'] ----> 5

annual_inc ----- [24000. 30000. 12252. ... 33990. 36153. 27376.] ----> 5215

verification_status ----- ['Verified' 'Source Verified' 'Not Verified'] ----> 3

loan_status ----- ['Fully Paid' 'Charged Off'] ----> 2

purpose ----- ['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving' 'vacation' 'house' 'renewable_energy' 'educational'] ----> 14

addr_state ----- ['AZ' 'GA' 'IL' 'CA' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT' 'FL' 'NY' 'PA' 'MN'
 'NJ' 'OR' 'KY' 'OH' 'SC' 'RI' 'LA' 'MA' 'WA' 'WI' 'AL' 'NV' 'AK' 'CO'
 'MD' 'WV' 'VT' 'MI' 'DC' 'SD' 'NH' 'AR' 'NM' 'KS' 'HI' 'OK' 'MT' 'WY'
 'DE' 'MS' 'TN' 'IA' 'NE' 'ID' 'IN' 'ME'] ----> 50

dti ----- [27.65  1.    8.72 ...  1.79  0.12 25.43] ----> 2853

inq_last_6mths ----- [1 5 2 3 0 4 6 7 8] ----> 9

mths_since_last_delinq ----- [  0.  35.  61.   8.  20.  18.  45.  38.  48.  41.  40.  74.  25.  53.
  39.  10.  26.  77.  28.  56.  52.  24.  16.  60.  54.  23.   9.  11.
  13.  65.  19.  22.  59.  79.  44.  57.  14.  63.  49.  15.  73.  70.
  29.  51.   5.  75.  55.   2.  30.  47.  69.   4.  43.  33.  21.  27.
  46.  81.  68.  78.  82.  31.  64.  76.  62.  72.  42.  50.   3.  12.
  34.  58.  17.  71.  66.  32.   6.  80.  36.  37.   7.  67.   1.  83.
  86. 115.  96. 120. 106.  89. 103. 107.  85.  97.  95.] ----> 95

pub_rec ----- [0 1 2 3 4] ----> 5

pub_rec_bankruptcies ----- [0. 1. 2.] ----> 3

loan_amnt_range ----- [(0, 5000], (5000, 10000], (10000, 15000], (20000, 25000], (30000, 35000], (25000, 30000], (15000, 20000]]
Categories (7, interval[int64, right]): [(0, 5000] < (5000, 10000] < (10000, 15000] < (15000, 20000] < (20000, 25000] < (25000, 30000] < (30000, 35000]] ----> 7

int_rate_range ----- [(10.0, 12.5], (15.0, 17.5], (12.5, 15.0], (7.5, 10.0], (17.5, 20.0], (20.0, 22.5], (5.0, 7.5], (22.5, 25.0]]
Categories (10, interval[float64, right]): [(0.0, 2.5] < (2.5, 5.0] < (5.0, 7.5] < (7.5, 10.0] ... (15.0, 17.5] < (17.5, 20.0] < (20.0, 22.5] < (22.5, 25.0]] ----> 8

In [488]:
df.annual_inc.dtype

dtype('float64')

In [ ]:
mths_since_last_delinq

In [501]:
cat_columns=["term","grade","sub_grade","emp_length","home_ownership","verification_status","purpose","addr_state","inq_last_6mths","pub_rec","pub_rec_bankruptcies","loan_amnt_range","int_rate_range"]
cont_cols=["installment","mths_since_last_delinq","mths_since_last_delinq","dti"]
target_col=["loan_status"]
len(cat_columns)+len(cont_cols)+len(target_col),len(df.columns)

(18, 18)

In [500]:
## Univariabte Analysis