In [563]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action="ignore")

In [564]:
#importing the dataset
df=pd.read_csv('loan.csv')

In [565]:
#Checking the first few rows to confirm import and get a hint of the structure
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [566]:
#checking the dimensions
df.shape

(39717, 111)

## Initial Understanding
### There seem to be a lot of columns in the dataset, it would be best to categorise the columns before proceeding ahead

In [567]:
# Understanding the types of columns by looking at the unique values in each column
for i in df.columns:
    print(i,df[i].nunique())

id 39717
member_id 39717
loan_amnt 885
funded_amnt 1041
funded_amnt_inv 8205
term 2
int_rate 371
installment 15383
grade 7
sub_grade 35
emp_title 28820
emp_length 11
home_ownership 5
annual_inc 5318
verification_status 3
issue_d 55
loan_status 3
pymnt_plan 1
url 39717
desc 26527
purpose 14
title 19615
zip_code 823
addr_state 50
dti 2868
delinq_2yrs 11
earliest_cr_line 526
inq_last_6mths 9
mths_since_last_delinq 95
mths_since_last_record 111
open_acc 40
pub_rec 5
revol_bal 21711
revol_util 1089
total_acc 82
initial_list_status 1
out_prncp 1137
out_prncp_inv 1138
total_pymnt 37850
total_pymnt_inv 37518
total_rec_prncp 7976
total_rec_int 35148
total_rec_late_fee 1356
recoveries 4040
collection_recovery_fee 2616
last_pymnt_d 101
last_pymnt_amnt 34930
next_pymnt_d 2
last_credit_pull_d 106
collections_12_mths_ex_med 1
mths_since_last_major_derog 0
policy_code 1
application_type 1
annual_inc_joint 0
dti_joint 0
verification_status_joint 0
acc_now_delinq 1
tot_coll_amt 0
tot_cur_bal 0
open_acc_6m 0
open_il_6m 0
open_il_12m 0
open_il_24m 0
mths_since_rcnt_il 0
total_bal_il 0
il_util 0
open_rv_12m 0
open_rv_24m 0
max_bal_bc 0
all_util 0
total_rev_hi_lim 0
inq_fi 0
total_cu_tl 0
inq_last_12m 0
acc_open_past_24mths 0
avg_cur_bal 0
bc_open_to_buy 0
bc_util 0
chargeoff_within_12_mths 1
delinq_amnt 1
mo_sin_old_il_acct 0
mo_sin_old_rev_tl_op 0
mo_sin_rcnt_rev_tl_op 0
mo_sin_rcnt_tl 0
mort_acc 0
mths_since_recent_bc 0
mths_since_recent_bc_dlq 0
mths_since_recent_inq 0
mths_since_recent_revol_delinq 0
num_accts_ever_120_pd 0
num_actv_bc_tl 0
num_actv_rev_tl 0
num_bc_sats 0
num_bc_tl 0
num_il_tl 0
num_op_rev_tl 0
num_rev_accts 0
num_rev_tl_bal_gt_0 0
num_sats 0
num_tl_120dpd_2m 0
num_tl_30dpd 0
num_tl_90g_dpd_24m 0
num_tl_op_past_12m 0
pct_tl_nvr_dlq 0
percent_bc_gt_75 0
pub_rec_bankruptcies 3
tax_liens 1
tot_hi_cred_lim 0
total_bal_ex_mort 0
total_bc_limit 0
total_il_high_credit_limit 0

In [568]:
# we can see that it is a mix of Categorical and Continuos columns, we need to divide them on this basis. However it
# appears that there are columns with alot of null data

## Data Cleaning

In [569]:
# Find the null rows percent for all columns

In [570]:
for i in df.columns:
    print(i,df[i].isnull().sum()*100/df.shape[0])

id 0.0
member_id 0.0
loan_amnt 0.0
funded_amnt 0.0
funded_amnt_inv 0.0
term 0.0
int_rate 0.0
installment 0.0
grade 0.0
sub_grade 0.0
emp_title 6.191303472064859
emp_length 2.7066495455346575
home_ownership 0.0
annual_inc 0.0
verification_status 0.0
issue_d 0.0
loan_status 0.0
pymnt_plan 0.0
url 0.0
desc 32.58050708764509
purpose 0.0
title 0.027695948838029054
zip_code 0.0
addr_state 0.0
dti 0.0
delinq_2yrs 0.0
earliest_cr_line 0.0
inq_last_6mths 0.0
mths_since_last_delinq 64.66248709620565
mths_since_last_record 92.98537150338646
open_acc 0.0
pub_rec 0.0
revol_bal 0.0
revol_util 0.12589067653649572
total_acc 0.0
initial_list_status 0.0
out_prncp 0.0
out_prncp_inv 0.0
total_pymnt 0.0
total_pymnt_inv 0.0
total_rec_prncp 0.0
total_rec_int 0.0
total_rec_late_fee 0.0
recoveries 0.0
collection_recovery_fee 0.0
last_pymnt_d 0.1787647606818239
last_pymnt_amnt 0.0
next_pymnt_d 97.1296925749679
last_credit_pull_d 0.0050356270614598285
collections_12_mths_ex_med 0.1409975577208752
mths_since_last_major_derog 100.0
policy_code 0.0
application_type 0.0
annual_inc_joint 100.0
dti_joint 100.0
verification_status_joint 100.0
acc_now_delinq 0.0
tot_coll_amt 100.0
tot_cur_bal 100.0
open_acc_6m 100.0
open_il_6m 100.0
open_il_12m 100.0
open_il_24m 100.0
mths_since_rcnt_il 100.0
total_bal_il 100.0
il_util 100.0
open_rv_12m 100.0
open_rv_24m 100.0
max_bal_bc 100.0
all_util 100.0
total_rev_hi_lim 100.0
inq_fi 100.0
total_cu_tl 100.0
inq_last_12m 100.0
acc_open_past_24mths 100.0
avg_cur_bal 100.0
bc_open_to_buy 100.0
bc_util 100.0
chargeoff_within_12_mths 0.1409975577208752
delinq_amnt 0.0
mo_sin_old_il_acct 100.0
mo_sin_old_rev_tl_op 100.0
mo_sin_rcnt_rev_tl_op 100.0
mo_sin_rcnt_tl 100.0
mort_acc 100.0
mths_since_recent_bc 100.0
mths_since_recent_bc_dlq 100.0
mths_since_recent_inq 100.0
mths_since_recent_revol_delinq 100.0
num_accts_ever_120_pd 100.0
num_actv_bc_tl 100.0
num_actv_rev_tl 100.0
num_bc_sats 100.0
num_bc_tl 100.0
num_il_tl 100.0
num_op_rev_tl 100.0
num_rev_accts 100.0
num_rev_tl_bal_gt_0 100.0
num_sats 100.0
num_tl_120dpd_2m 100.0
num_tl_30dpd 100.0
num_tl_90g_dpd_24m 100.0
num_tl_op_past_12m 100.0
pct_tl_nvr_dlq 100.0
percent_bc_gt_75 100.0
pub_rec_bankruptcies 1.7549160309187501
tax_liens 0.09819472769846666
tot_hi_cred_lim 100.0
total_bal_ex_mort 100.0
total_bc_limit 100.0
total_il_high_credit_limit 100.0

In [571]:
nullValCols=df.columns[(df.isnull().sum()/df.shape[0])*100>85.0]

In [572]:
df.shape[0]

39717

In [573]:
len(nullValCols),nullValCols

(56,
 Index(['mths_since_last_record', 'next_pymnt_d', 'mths_since_last_major_derog',
        'annual_inc_joint', 'dti_joint', 'verification_status_joint',
        'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m',
        'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
        'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
        'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
        'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
        'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
        'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc',
        'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
        'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd',
        'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl',
        'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0',
        'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
        'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
        'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
        'total_il_high_credit_limit'],
       dtype='object'))

In [574]:
# let us check what kind of values does these 3 columns have. the 
print(df["mths_since_last_record"].nunique(),"\n",df["mths_since_last_record"].unique())

111
 [ nan 113. 105.  97.  33.  93.  52.  85.  90.  91. 114.  92. 117.  87.
  45.  83. 118.  38. 101. 100. 112. 110.  88.  79.  77. 107. 102.  98.
  95. 103.  96. 116. 111.  89. 108.  29. 106. 115.  53.  86.  57.  63.
  94. 109.  99. 104.  76.  61.  28.  23.  75.  47.  82.  21.  62.  44.
  80.  67. 119.  42.  34.  66.  58.  22.  56.  72.  64.  50.  69.  49.
  74.  35.  12.  26.  78.  54.  37.  73.  11.  31.  59.  32.  81.  68.
  55.  39.  51.  70.  30.  41.  71.  40.  43.  27.  65.  46.  19.  17.
  25.  13.  48.  36.   7.  60.  14.   6.  18.   0.  20. 120. 129.   5.]

In [575]:
print(df["mths_since_last_delinq"].nunique(),"\n",df["mths_since_last_delinq"].unique())

95
 [ nan  35.  38.  61.   8.  20.  18.  68.  45.  48.  41.  40.  74.  25.
  53.  39.  10.  26.  56.  77.  28.  52.  24.  16.  60.  54.  23.   9.
  11.  13.  65.  19.  80.  22.  59.  79.  44.  64.  57.  14.  63.  49.
  15.  73.  70.  29.  51.   5.  75.  55.   2.  30.  47.  33.  69.   4.
  43.  21.  27.  46.  81.  78.  82.  31.  76.  62.  72.  42.  50.   3.
  12.  67.  36.  34.  58.  17.  71.  66.  32.   6.  37.   7.   1.  83.
  86. 115.  96. 103. 120. 106.  89. 107.  85.  97.  95.   0.]

In [576]:
print(df["desc"].nunique())

26527

#### its evident that there are several columns with null values. It is best to drop the columns with null values >70%

In [577]:
#get the columns where the null values are more than 70% of the total values or rows
colsToDrop=df.columns[((df.isnull().sum())/df.shape[0])*100>70.0]

In [578]:
#Let us check how many columns do we have 
len(colsToDrop)

56

#### This is a massive drop in the number of columns!

In [579]:
#Dropping these columns from our dataset
df=df.drop(colsToDrop,axis=1)

In [580]:
#confirm the operation by checking the shape of the dataframe
df.shape

(39717, 55)

In [581]:
#Let us again check the columns against the number of unique values they have
for i in df.columns:
    print(i,"\t",df[i].nunique())

id 	 39717
member_id 	 39717
loan_amnt 	 885
funded_amnt 	 1041
funded_amnt_inv 	 8205
term 	 2
int_rate 	 371
installment 	 15383
grade 	 7
sub_grade 	 35
emp_title 	 28820
emp_length 	 11
home_ownership 	 5
annual_inc 	 5318
verification_status 	 3
issue_d 	 55
loan_status 	 3
pymnt_plan 	 1
url 	 39717
desc 	 26527
purpose 	 14
title 	 19615
zip_code 	 823
addr_state 	 50
dti 	 2868
delinq_2yrs 	 11
earliest_cr_line 	 526
inq_last_6mths 	 9
mths_since_last_delinq 	 95
open_acc 	 40
pub_rec 	 5
revol_bal 	 21711
revol_util 	 1089
total_acc 	 82
initial_list_status 	 1
out_prncp 	 1137
out_prncp_inv 	 1138
total_pymnt 	 37850
total_pymnt_inv 	 37518
total_rec_prncp 	 7976
total_rec_int 	 35148
total_rec_late_fee 	 1356
recoveries 	 4040
collection_recovery_fee 	 2616
last_pymnt_d 	 101
last_pymnt_amnt 	 34930
last_credit_pull_d 	 106
collections_12_mths_ex_med 	 1
policy_code 	 1
application_type 	 1
acc_now_delinq 	 1
chargeoff_within_12_mths 	 1
delinq_amnt 	 1
pub_rec_bankruptcies 	 3
tax_liens 	 1

In [582]:
#There are some columns that have 1 value through out the dataset, let us also remove them

In [583]:
len(singleValCols),singleValCols

(9,
 Index(['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med',
        'policy_code', 'application_type', 'acc_now_delinq',
        'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens'],
       dtype='object'))

In [584]:
# now let us drop these single Valued columns as well
df=df.drop(singleValCols,axis=1)

In [585]:
df.shape

(39717, 46)

In [586]:
len(numericals),numericals

(32,
 Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
        'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths',
        'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal',
        'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
        'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
        'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
        'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code',
        'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
        'pub_rec_bankruptcies', 'tax_liens'],
       dtype='object'))

In [587]:
#Let us again check the columns against the number of unique values they have
for i in df.columns:
    print(i,"\t",df[i].nunique())

id 	 39717
member_id 	 39717
loan_amnt 	 885
funded_amnt 	 1041
funded_amnt_inv 	 8205
term 	 2
int_rate 	 371
installment 	 15383
grade 	 7
sub_grade 	 35
emp_title 	 28820
emp_length 	 11
home_ownership 	 5
annual_inc 	 5318
verification_status 	 3
issue_d 	 55
loan_status 	 3
url 	 39717
desc 	 26527
purpose 	 14
title 	 19615
zip_code 	 823
addr_state 	 50
dti 	 2868
delinq_2yrs 	 11
earliest_cr_line 	 526
inq_last_6mths 	 9
mths_since_last_delinq 	 95
open_acc 	 40
pub_rec 	 5
revol_bal 	 21711
revol_util 	 1089
total_acc 	 82
out_prncp 	 1137
out_prncp_inv 	 1138
total_pymnt 	 37850
total_pymnt_inv 	 37518
total_rec_prncp 	 7976
total_rec_int 	 35148
total_rec_late_fee 	 1356
recoveries 	 4040
collection_recovery_fee 	 2616
last_pymnt_d 	 101
last_pymnt_amnt 	 34930
last_credit_pull_d 	 106
pub_rec_bankruptcies 	 3

In [588]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0

In [589]:
#let us remove the Behavioral data as it is of no signifance to draw conclusions for New Loan Applicants
# Based on the Data Undersatnding the behavioral columns are as follow:
behavioralCols=['delinq_2yrs','earliest_cr_line','open_acc','revol_bal',
                'revol_util','total_acc','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','last_credit_pull_d']

In [590]:
print(behavioralCols)

['delinq_2yrs', 'earliest_cr_line', 'open_acc', 'revol_bal', 'revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d']

In [591]:
# Dropping these behavioral columns
df=df.drop(behavioralCols,axis=1)

In [592]:
print(df.shape,"/n")
df.head()

(39717, 28) /n

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,desc,purpose,title,zip_code,addr_state,dti,inq_last_6mths,mths_since_last_delinq,pub_rec,pub_rec_bankruptcies
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,1,NaN,0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,5,NaN,0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,small_business,real estate business,606xx,IL,8.72,2,NaN,0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,1,35.0,0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,38.0,0,0.0

###### The Desc column has a lot of unique string values, it could be used for sentiment analysis and data modeling but those processes are currently out of scope of this Project, hence this column could be dropped as well, similarly the url col is of no significance in drawing any inference

In [593]:
df=df.drop(['desc','url'],axis=1)

In [594]:
for i in df.columns:
    print(i,"\t",df[i].nunique())

id 	 39717
member_id 	 39717
loan_amnt 	 885
funded_amnt 	 1041
funded_amnt_inv 	 8205
term 	 2
int_rate 	 371
installment 	 15383
grade 	 7
sub_grade 	 35
emp_title 	 28820
emp_length 	 11
home_ownership 	 5
annual_inc 	 5318
verification_status 	 3
issue_d 	 55
loan_status 	 3
purpose 	 14
title 	 19615
zip_code 	 823
addr_state 	 50
dti 	 2868
inq_last_6mths 	 9
mths_since_last_delinq 	 95
pub_rec 	 5
pub_rec_bankruptcies 	 3

In [595]:
#removing member_id as id key, another unique identifier is already present
df=df.drop('member_id',axis=1)

In [596]:
df.shape

(39717, 25)

In [597]:
#On second though we do not need a unique identifier either to draw inferences for our Case study, so let us drop the id
#column as well; same goes for emp_title
df=df.drop('id',axis=1)

In [598]:
#Removing Zip Code as well, as the zip codes last twoo literals are unknown, the state address also reveal the same information 
#on a higher scope; similary funded_amnt can be dropped as well as a derived column from it exists; empt_title is irrelevant as 
#well
df=df.drop(['zip_code','emp_title','funded_amnt'],axis=1)

In [599]:
df.shape

(39717, 21)

In [600]:
for i in df.columns:
    print(df[i].value_counts())

10000    2833
12000    2334
5000     2051
6000     1908
15000    1895
         ...
22875       1
8175        1
19475       1
21225       1
22550       1
Name: loan_amnt, Length: 885, dtype: int64
5000.000000     1309
10000.000000    1275
6000.000000     1200
12000.000000    1069
8000.000000      900
                ...
4944.213109        1
18400.281660       1
14659.820000       1
6294.151315        1
11808.924370       1
Name: funded_amnt_inv, Length: 8205, dtype: int64
 36 months    29096
 60 months    10621
Name: term, dtype: int64
10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
18.36%      1
16.96%      1
16.15%      1
16.01%      1
17.44%      1
Name: int_rate, Length: 371, dtype: int64
311.11     68
180.96     59
311.02     54
150.80     48
368.45     46
           ..
1224.46     1
63.44       1
157.67      1
492.34      1
255.43      1
Name: installment, Length: 15383, dtype: int64
B    12020
A    10085
C     8098
D     5307
E     2842
F     1049
G      316
Name: grade, dtype: int64
B3    2917
A4    2886
A5    2742
B5    2704
B4    2512
C1    2136
B2    2057
C2    2011
B1    1830
A3    1810
C3    1529
A2    1508
D2    1348
C4    1236
C5    1186
D3    1173
A1    1139
D4     981
D1     931
D5     874
E1     763
E2     656
E3     553
E4     454
E5     416
F1     329
F2     249
F3     185
F4     168
F5     118
G1     104
G2      78
G4      56
G3      48
G5      30
Name: sub_grade, dtype: int64
10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64
RENT        18899
MORTGAGE    17659
OWN          3058
OTHER          98
NONE            3
Name: home_ownership, dtype: int64
60000.0    1505
50000.0    1057
40000.0     876
45000.0     830
30000.0     825
           ...
56820.0       1
45314.0       1
53913.0       1
62880.0       1
27376.0       1
Name: annual_inc, Length: 5318, dtype: int64
Not Verified       16921
Verified           12809
Source Verified     9987
Name: verification_status, dtype: int64
Dec-11    2260
Nov-11    2223
Oct-11    2114
Sep-11    2063
Aug-11    1928
Jul-11    1870
Jun-11    1827
May-11    1689
Apr-11    1562
Mar-11    1443
Jan-11    1380
Feb-11    1297
Dec-10    1267
Oct-10    1132
Nov-10    1121
Jul-10    1119
Sep-10    1086
Aug-10    1078
Jun-10    1029
May-10     920
Apr-10     827
Mar-10     737
Feb-10     627
Nov-09     602
Dec-09     598
Jan-10     589
Oct-09     545
Sep-09     449
Aug-09     408
Jul-09     374
Jun-09     356
May-09     319
Apr-09     290
Mar-09     276
Feb-09     260
Jan-09     239
Mar-08     236
Dec-08     223
Nov-08     184
Feb-08     174
Jan-08     171
Apr-08     155
Oct-08      96
Dec-07      85
Jul-08      83
May-08      71
Aug-08      71
Jun-08      66
Oct-07      47
Nov-07      37
Aug-07      33
Sep-08      32
Jul-07      30
Sep-07      18
Jun-07       1
Name: issue_d, dtype: int64
Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64
debt_consolidation    18641
credit_card            5130
other                  3993
home_improvement       2976
major_purchase         2187
small_business         1828
car                    1549
wedding                 947
medical                 693
moving                  583
vacation                381
house                   381
educational             325
renewable_energy        103
Name: purpose, dtype: int64
Debt Consolidation                  2184
Debt Consolidation Loan             1729
Personal Loan                        659
Consolidation                        517
debt consolidation                   505
                                    ...
your rate is better than my rate       1
Concession Trailer                     1
gregs                                  1
EZover                                 1
JAL Loan                               1
Name: title, Length: 19615, dtype: int64
CA    7099
NY    3812
FL    2866
TX    2727
NJ    1850
IL    1525
PA    1517
VA    1407
GA    1398
MA    1340
OH    1223
MD    1049
AZ     879
WA     840
CO     792
NC     788
CT     751
MI     720
MO     686
MN     615
NV     497
SC     472
WI     460
AL     452
OR     451
LA     436
KY     325
OK     299
KS     271
UT     258
AR     245
DC     214
RI     198
NM     189
WV     177
HI     174
NH     171
DE     114
MT      85
WY      83
AK      80
SD      64
VT      54
MS      19
TN      17
IN       9
ID       6
IA       5
NE       5
ME       3
Name: addr_state, dtype: int64
0.00     183
12.00     51
18.00     45
19.20     40
13.20     39
        ...
29.13      1
25.31      1
29.76      1
28.42      1
25.43      1
Name: dti, Length: 2868, dtype: int64
0    19300
1    10971
2     5812
3     3048
4      326
5      146
6       64
7       35
8       15
Name: inq_last_6mths, dtype: int64
0.0      443
15.0     252
30.0     247
23.0     247
24.0     241
        ...
89.0       1
107.0      1
85.0       1
97.0       1
95.0       1
Name: mths_since_last_delinq, Length: 95, dtype: int64
0    37601
1     2056
2       51
3        7
4        2
Name: pub_rec, dtype: int64
0.0    37339
1.0     1674
2.0        7
Name: pub_rec_bankruptcies, dtype: int64

In [601]:
#unique values for Loan Status
df.loan_status.value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [602]:
# Conclusions can be only drawn from Borrowers who have either fully paid or have gone fully delinquint
df=df[~(df['loan_status']=="Current")]

In [603]:
df.head(12)

,loan_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,...,issue_d,loan_status,purpose,title,addr_state,dti,inq_last_6mths,mths_since_last_delinq,pub_rec,pub_rec_bankruptcies
0,5000,4975.0,36 months,10.65%,162.87,B,B2,10+ years,RENT,24000.0,...,Dec-11,Fully Paid,credit_card,Computer,AZ,27.65,1,NaN,0,0.0
1,2500,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,RENT,30000.0,...,Dec-11,Charged Off,car,bike,GA,1.00,5,NaN,0,0.0
2,2400,2400.0,36 months,15.96%,84.33,C,C5,10+ years,RENT,12252.0,...,Dec-11,Fully Paid,small_business,real estate business,IL,8.72,2,NaN,0,0.0
3,10000,10000.0,36 months,13.49%,339.31,C,C1,10+ years,RENT,49200.0,...,Dec-11,Fully Paid,other,personel,CA,20.00,1,35.0,0,0.0
5,5000,5000.0,36 months,7.90%,156.46,A,A4,3 years,RENT,36000.0,...,Dec-11,Fully Paid,wedding,My wedding loan I promise to pay back,AZ,11.20,3,NaN,0,0.0
6,7000,7000.0,60 months,15.96%,170.08,C,C5,8 years,RENT,47004.0,...,Dec-11,Fully Paid,debt_consolidation,Loan,NC,23.51,1,NaN,0,0.0
7,3000,3000.0,36 months,18.64%,109.43,E,E1,9 years,RENT,48000.0,...,Dec-11,Fully Paid,car,Car Downpayment,CA,5.35,2,NaN,0,0.0
8,5600,5600.0,60 months,21.28%,152.39,F,F2,4 years,OWN,40000.0,...,Dec-11,Charged Off,small_business,Expand Business & Buy Debt Portfolio,CA,5.55,2,NaN,0,0.0
9,5375,5350.0,60 months,12.69%,121.45,B,B5,< 1 year,RENT,15000.0,...,Dec-11,Charged Off,other,Building my credit history.,TX,18.08,0,NaN,0,0.0
10,6500,6500.0,60 months,14.65%,153.45,C,C3,5 years,OWN,72000.0,...,Dec-11,Fully Paid,debt_consolidation,High intrest Consolidation,AZ,16.12,2,NaN,0,0.0
11,12000,12000.0,36 months,12.69%,402.54,B,B5,10+ years,OWN,75000.0,...,Dec-11,Fully Paid,debt_consolidation,Consolidation,CA,10.78,0,NaN,0,0.0
12,9000,9000.0,36 months,13.49%,305.38,C,C1,< 1 year,RENT,30000.0,...,Dec-11,Charged Off,debt_consolidation,freedom,VA,10.08,1,NaN,0,0.0

###### Now we have all the necesary columns to identify patterns and draw useful conclusions, Now let us look at each column type andclean them for missing values, invalid values, standardise units etc

In [606]:
for i in df.columns:
    print(i,"  ",df[i].nunique())

loan_amnt    870
funded_amnt_inv    8050
term    2
int_rate    370
installment    15022
grade    7
sub_grade    35
emp_length    11
home_ownership    5
annual_inc    5215
verification_status    3
issue_d    55
loan_status    2
purpose    14
title    19297
addr_state    50
dti    2853
inq_last_6mths    9
mths_since_last_delinq    95
pub_rec    5
pub_rec_bankruptcies    3

In [613]:
df["loan_amnt"].isnull().sum()

0

In [ ]:
df["loanAmtRange"]=df.loan_amnt.apply(lambda x: )